@import '~bootstrap/scss/bootstrap';

.error-field {
  color: red;
}

.no-error-field {
  display: none;
}

.chat-messages {
  display: flex;
  flex-direction: column-reverse;
}

.field {
  padding: 1rem 0.75rem;
}
